################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01_Normals/x64/Debug
*.json
/01_Normals/x64/Debug/Raytrace.tlog/CL.command.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/CL.read.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/CL.write.1.tlog
/01_Normals/x64/Debug/01_Normals.log
/01_Normals/x64/Debug/Raytrace.ilk
/01_Normals/x64/Debug/Raytrace.obj
/01_Normals/x64/Debug/vc143.idb
/01_Normals/x64/Debug/vc143.pdb
/x64/Debug/Raytrace.exe
/x64/Debug/Raytrace.pdb
/01_Normals/x64/Debug/Raytrace.tlog/link.command.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/link.read.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/link.write.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/Raytrace.lastbuildstate
/01_Normals/x64/Debug/Raytrace.exe.recipe
/01_Normals/x64/Debug/Raytrace.tlog/CL.command.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/CL.read.1.tlog
/01_Normals/x64/Debug/Raytrace.tlog/CL.write.1.tlog
/01_Normals/x64/Debug/01_Normals.log
/01_Normals/x64/Debug/gCamera.obj
/01_Normals/x64/Debug/GLDebugMessageCallback.obj
/01_Normals/x64/Debug/InitSphere.obj
/01_Normals/x64/Debug/InitVaoVboIndB.obj
/01_Normals/x64/Debug/main.obj
/01_Normals/x64/Debug/Mouse.obj
/01_Normals/x64/Debug/Raytrace.ilk
/01_Normals/x64/Debug/Raytrace.obj
/01_Normals/x64/Debug/RenderAndUpdate.obj
/01_Normals/x64/Debug/vc143.idb
/01_Normals/x64/Debug/vc143.pdb
/x64/Debug/Raytrace.exe
/x64/Debug/Raytrace.pdb
